{% extends "account/base.html" %}
{% load i18n static %}
{% block content %}
<form action="" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.email.errors }}
    {{ form.email.label_tag }} {{ form.email }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>
{% endblock content %}
